/* Shared between all components */
.App {
  touch-action: pan-y;
}

.scroll-snap-container {
  @media screen and (max-width: 705px) {
    touch-action: pan-y;
    scroll-snap-type: y mandatory;
    height: 100vh;
    scroll-snap-align: start;
    overflow-y: scroll;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Header component */
.header {
  min-height: 530px;
  background-color: #0c1225;
  background-image: linear-gradient(to bottom, #0c1225, #0e273f);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  @media screen and (max-width: 705px) {
    padding-top: 60px;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100vh;
    scroll-snap-align: start;
  }
}

.header-container {
  display: grid;
}

.header-text-container {
  justify-content: center;
  align-items: center;
}

.tagline {
  color: #4ca1af;
}

.tagline-paragraph {
  color: #4ca1af;
}

.headline {
  color: #ffffff;
  min-height: 100%;
}

.sub-headline {
  color: #ffffff;
  min-height: 100%;
}

.profile-picture {
  animation: slideInFromBottom 1s ease-in-out; /* There is an issue here */ /* Apply the animation to the image */
  max-height: 200px;
}

.profile-picture-container {
  min-height: 300px;
  align-items: center;
  @media screen and (max-width: 705px) {
    align-items: baseline;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* Bio component */
.bio {
  min-height: 530px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2c333c;
  background-image: linear-gradient(to bottom, #2c333c, #1f2329);
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  align-items: center;
  @media screen and (max-width: 705px) {
    padding-top: 20px;
    padding-bottom: 5rem;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

.bio-text {
  padding: 3rem;
  @media screen and (max-width: 705px) {
    padding-left: 0rem;
    padding-right: 0rem;
    min-width: 325px;
    padding-bottom: 2rem;
  }
}

.bio-text-container {
  @media screen and (max-width: 705px) {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

.slide-container {
  color: #ffffff;
  font-size: small;
  overflow: hidden;
}

.slidecontainer-desktop {
  padding-right: 20px;
}

.slide-container-desktop {
  padding-right: 20px;
}

.slidecontainer-mobile {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  background-color: #364954;
  max-width: 300px;
  min-height: 300px;
  border-radius: 6px;
  align-items: center;
}

.slide-no-scroll-container-mobile {
  min-height: 300px;
  background-color: #364954;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.slide-mobile {
  flex: 0 0 100%; /* Each slide takes up 100% of the container width */
  scroll-snap-align: start; /* Snap each slide to the start of the container */
  padding: 10px; /* Add optional padding between slides */
  scroll-snap-stop: always;
}

/*Only for BioClick componenent*/
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity (invisible) */
  }
  to {
    opacity: 1; /* End with 1 opacity (fully visible) */
  }
}

@keyframes slideAnimation {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.arrow {
  font-size: 24px;
  color: #4ca1af; /* Set the arrow color to work well with #364954 background */
  padding: 10px;
  opacity: 60%;
}

.arrow-left {
  position: inherit;
  margin: 0px;
}

.arrow-right {
  position: inherit;
  margin: 0px;
}

.fade-in {
  animation: slideInFromBottom 1s forwards;
}

.fade-down {
  animation: slideInFromRight 1s forwards;
  visibility: visible !important;
}

.fade-left {
  animation: slideInFromLeft 1s forwards;
  visibility: visible !important;
}

.hide-default {
  visibility: hidden;
}

.remove-default {
  display: none !important;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #4ca1af;
  box-shadow: 0 0 2px #4ca1af, /* Outer glow */ 0 0 2px #4ca1af,
    /* Medium glow */ 0 0 5px #4ca1af; /* Inner glow */
  margin: 10px;
}

.ci {
  visibility: hidden;
  max-width: 10px;
}

.c1 {
  margin-top: 0 !important;
  background-color: #4ca1af;
}

.c2 {
  margin-top: 40px !important;
}

.c3 {
  margin-top: 0px !important;
}

.c4 {
  margin-top: 0px !important;
}

.c5 {
  margin-top: -40px !important;
}

.c6 {
  margin-top: 0px !important;
}

.c7 {
  margin-top: 0px !important;
}

.button-6 {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: aliceblue;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(1rem - 1px) calc(1.2rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: aliceblue;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: aliceblue;
  transform: translateY(0);
}

/* Component Headline */
.componentheadline {
  background-color: #15395a;
  color: aliceblue;
  padding-top: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  padding-bottom: 45px;
  @media screen and (max-width: 705px) {
    padding-top: 20px;
    padding-left: 1rem; /*100px*/
    padding-right: 1rem;
  }
}

/* Tabs */
.tabscomponent {
  background-color: #15395a;
  background-image: linear-gradient(to bottom, #15395a, #0e273f);
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 6rem;
  padding-top: 2rem;
  @media screen and (max-width: 705px) {
    padding-top: 20px;
    padding-left: 1rem; /*100px*/
    padding-right: 1rem;
    scroll-snap-stop: always;
    scroll-snap-align: start;
  }
}

.tabs {
  display: flex;
}

.tab {
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-color: #ccc;
  border-radius: 4px 4px 0 0;
  border-width: 1px 1px 0 1px;
  border-radius: 4px 4px 0 0;

  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

.tabs-container {
  background-color: #d4dce2;
  border-radius: 4px;
}

.tab.active {
  background-color: #d4dce2;
  color: black;
  font-weight: 700;
}

.tab:not(.active) {
  background-color: #15395a;
  color: aliceblue;
}

.content-container {
  border-radius: 0 0 4px 4px;
  background-color: #d4dce2;
}

.content {
  display: block;
}

.tagline-tabs {
  color: #f5692e;
  font-size: small;
  margin-bottom: 0rem !important;
}

/* Project */
.project {
  padding-top: 5rem !important;
  padding-bottom: 6rem !important;
  padding-left: 40px;
  padding-right: 40px;
  @media screen and (max-width: 768px) {
    padding-top: 0px !important;
    padding-bottom: 5rem !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    /*HERE*/
    scroll-snap-stop: always;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

.scrollspacer {
  height: 0px;
  @media screen and (max-width: 768px) {
    height: 35px;
  }
}

.project-0,
.project-2 {
  background-color: #d4dce2 !important;
}

.project-1,
.project-3 {
  background-color: #ccd7e1 !important;
}

.project-container {
  padding-bottom: 45px;
  @media screen and (max-width: 768px) {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.project-text-container {
  @media screen and (max-width: 768px) {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

.logo-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.tabsimage {
  width: 100%;
  display: block !important;
  margin: 0 auto;
}

.project-image-parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0px !important;
  padding-left: 20px;
  @media screen and (max-width: 768px) {
    padding-right: 0px !important;
    margin-bottom: 20px;
    padding-left: 0px !important; /*Removes padding left on mobile*/
  }
}

.flex-row-reverse .project-image-parent-container {
  padding-left: 0px !important;
  padding-right: 10px !important;
  @media screen and (max-width: 768px) {
    padding-right: 0px !important;
  }
}

.techstack {
  background-color: #f0f0f1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: row;
  @media screen and (max-width: 445px) {
    flex-direction: column;
  }
}

.techstack-container {
  width: 100%;
}

.tech-logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  @media screen and (max-width: 768px) {
    margin-bottom: 5px;
  }
}

/*Animation start*/
/* Container for the flip animation */
.flip-container {
  perspective: 1000px; /* Add 3D perspective */
  display: flex;
  align-items: center;
}

/* Flip the front and back side of the container */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
}

/* Front and back sides of the container */
.front,
.back {
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Front side (image) */
.front {
  transform: rotateY(0deg);
}

.flipped-text {
  margin-bottom: 0px;
  padding: 5px;
  font-size: 11px;
  margin: inherit;
  background-color: white;
  border-radius: 6px;
  font-weight: 600;
}

/* Back side (text) */
.back {
  transform: rotateY(180deg);
  z-index: 1;
  display: none; /* Initially hide the back side */
  transform: rotateY(180deg) scaleX(-1);
}
/*Animation end*/

.techlogo {
  height: 50px;
  width: 50px;
  padding: 6px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.paragraphtechstack {
  margin-bottom: 0rem !important;
  padding-left: 8px;
  padding: 5px 5px 5px 15px;
}

.links {
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.inline-p {
  display: inline;
}

.squareimg {
  max-height: 150px;
  max-width: 150px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -50% /*-100%*/
    ); /* Adjust this value to control the scrolling speed */
  }
}

.logo-container img {
  margin-right: 20px; /* Adjust the spacing between logos as needed */
  animation: scroll 10s linear infinite; /* Adjust the animation duration (10s in this example) */
}

/* Journalism projects */
.journalism-project {
  padding-top: 80px;
}

.journalism-piece-container {
  padding-bottom: 45px;
}
.journalism-image {
  padding: 20px 180px 20px 180px !important;
}

.construction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 50px 20px 50px;
}

.constructions-text-container {
  padding: 30px;
}

.construction-text {
  font-size: 20px;
}

.journalism-links-container {
  padding-bottom: 40px;
}

.linksul {
  padding-left: 40px;
  padding-right: 40px;
}
